@font-face {
   font-family: 'Vazir-Regular';
   font-display: swap;
   src: url('file:///Users/erfan/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-07-24_173842/fonts/Vazir-Regular/font.ttf');
}
